header {
  background-image: linear-gradient(15deg, #4086af 0%, #081720 100%);
  margin: none;
  padding: 25px;
  text-align: center;
  width: 100%;
  vertical-align: top;
  color:rgb(199, 206, 212);
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
}
.stretch-card>.card {
    width: 75%;
    min-width: 75%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.grid-margin,
.purchace-popup>div {
    margin-bottom: 25px
}

.card {
    border: 0;
    border-radius: 2px;
}

.card-weather {
    background: #e1ecff;
    background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff)
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left:250px;
}

.card .card-body {
    padding: 1.88rem 1.81rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.date .city {
    padding: 0 0 38px;
    font-weight:bold;

}

.h3,
h3 {
    font-size: 1.56rem
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica;
    font-weight: 500
}

.text-gray,
.card-subtitle,
p {
    font-size: 13px
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
    color: #969696
}

.card-weather .weather-data {
    padding: 0 0 4.75rem;
    line-height: 50px;
    font-family:Helvetica;

}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.display-3 {
    font-size: 2.5rem
}

.card-weather .card-body {
    background: #ffffff
}

.card-weather .weekly-weather {
    background: #ffffff;
    overflow-x: auto
}

.card-weather .weekly-weather .weekly-weather-item {
    flex: 0 0 14.28%;
    border-right: 1px solid #f2f2f2;
    padding: 1rem;
    text-align: center
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important
}

.card-weather .weekly-weather .weekly-weather-item i {
    font-size: 1.2rem;
}
h2 {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 20px;
}
.sidenav {
    margin-right: 10px;
    text-align: center;
    margin-top: 75px;
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: hidden;
    padding-top: 20px;
  }
input{
    width: 90%;
    padding: 6px;
    color:rgb(158, 154, 154);
    margin-bottom: 10px;
}
.search{
    padding: 5px;
    width: 90%;
    background-color: #4086af;
    color:whitesmoke;
    font-size:18px;
    font-family:Helvetica;
    border: none;
    border-radius:3px;
    margin-bottom: 15px;
}
.results{
    border:none;
}
.result{
    padding: 5px;
    width: 90%;
    align-items: center;
    background-color: rgb(121, 121, 121);
    font-family: Helvetica;
    font-size:18px;
    border: none;
    border-radius:3px;
    margin-bottom: 15px;
}
.result:hover{
    background-color: rgb(158, 158, 158);
}

form{
    border-bottom: 1px solid gray;
    margin-bottom: 15px; 
}
  .sidenav h1 {
    text-align:left;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }